<% if user_signed_in? %>
<% unless current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
  <% else %>
  <div class="follow_form">
    <a href="/users/edit" class="btn follow_form">プロフィールを編集</a>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn" %>
    </div>
<% end %>
<% end %>
