<div class="row">
<% @user.followings.each do |user| %>
        <% if user.avatar_id.present? %>
        <div class="post-cardssss col-6 col-sm-4">
            <%=link_to (image_tag attachment_url(user, :avatar, :fill, 150, 150, format: "jpg")),"/users/show/#{user.id}", class: 'user-img' %>
            </div>
          <% else %>
          <div class="post-cardssss col-6 col-sm-4">
            <%=link_to (image_tag('/images/user-default.png', size: '150x150', class: 'user-img')), "/users/show/#{user.id}" %>
          </div>
            <% end %>
      <% end %>
</div>
