<div class="users-index">
  <div class="container">
    <div class="user-item-box">
      <div class="post-cardss latest row">
        <% @user.followers.each do |user| %>
          <div class="user-cards d-flex align-items-center col-4 col-sm-3">
            <div style="width: 100%" >
              <div class="user-item user-list">
                <% if user.avatar_id.present? %>
                  <%=link_to (image_tag attachment_url(user, :avatar, :fill, 110, 110, format: "jpg")),"/users/show/#{user.id}", class: 'user-img' %>
                <% else %>
                  <%=link_to (image_tag('/images/user-default.png', size: '110x110', class: 'user-img')), "/users/show/#{user.id}" %>
                <% end %>
              </div>
              <br>
                <div class="user-name">
                  <%=link_to "@#{user.username}", "/users/show/#{user.id}", style: "color:black;" %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
