<h1>Pages#show</h1>
<p>Find me in app/views/pages/show.html.erb</p>
<% if current_user.avatar_id.present? %>
<%= image_tag attachment_url(current_user, :avatar, :fill, 70, 70, format: "jpg") %>
<% else %>
<%= image_tag('/images/user-default.png', class: 'img-responsive padding-top-15', :size =>'70x70') %>
<% end %>
