<% if user_signed_in? %>
  <% if current_user.already_liked?(@post) %>
    <div class="likeunlike">
    <div class="unlike-btn">
        <%= link_to post_like_path(@post), method: :delete, class: "btn"  do %>
        いいね！済み
        <% end %>
      </div>
  <% else %>
    <div class="like-btn">
      <%= link_to post_likes_path(@post), method: :post, class: "btn" do %>
      いいね！<i class="far fa-thumbs-up"></i>
    </div>
  <% end %>
  <% end %>
  </div>
<% else %>
<div class="good-btn">
<p>いいね！<i class="far fa-thumbs-up"></i><%= @post.likes.count %></p>
</div>
<% end %>
