<% if user_signed_in? %>

<% if current_user.already_liked?(@post) %>
<div class="likeunlike">
<div class="unlike-btn">
    <%= link_to post_like_path(@post), method: :delete, class: "btn unlike-sm rounded-pill  align-items-center justify-content-center px-3"  do %>
    いいね！済み
    <% end %>
    </div>
  <% else %>
  <div class="like-btn">
    <%= link_to post_likes_path(@post), method: :post, class: "btn like rounded-pill align-items-center justify-content-center px-3" do %>
      いいね！<i class="far fa-thumbs-up"></i>
    <% end %>
    </div>
  <% end %>
  </div>

<% else %>
<h3>いいね！<i class="far fa-thumbs-up"><%= @post.likes.count %></h3>
<% end %>
