<% if @post.likes.present? %>
  <div class="users-index">
    <div class="container">
      <div class="user-item-box">
        <div class="post-cardss latest row">
          <% @post.liked_users.each do |user| %>
            <div class="user-cards d-flex align-items-center col-6 col-sm-4">
              <div style="width: 100%" >
                <div class="user-item user-list">
                  <% if user.avatar_id.present? %>
                    <%=link_to (image_tag attachment_url(user, :avatar, :fill, 110, 110, format: "jpg")),"/users/show/#{user.id}", class: 'user-img' %>
                  <% else %>
                    <%=link_to (image_tag('/images/user-default.png', size: '110x110', class: 'user-img')), "/users/show/#{user.id}" %>
                  <% end %>
                </div>
                <br>
                <div class="user-name">
                  <%= user.username %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
<div class="no-contents d-flex align-items-center justify-content-center mx-auto">
  いいね！はまだされていません
  </div>
<% end %>
