/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@mixin sm { @media (min-width: 576px) { @content; } }
@mixin md { @media (min-width: 768px) { @content; } }
@mixin lg { @media (min-width: 960px) { @content; } }

$color-black: #212529;

body{
  max-width: 960px;
  margin-left:auto;
  margin-right:auto;
  font-weight: 700;
}
body .btn{
  font-weight: 700;
}

.container{
  max-width: 960px;
}

.user-img{
  border-radius: 50px;
  margin-right: 16px;
}
.navbar-users{
  color: black;
}
.profile-edit{
  max-width:550px;
  margin: 0 auto 1rem auto;
    margin-bottom: 16px;
}
.field{
  max-width: 550px;
    margin: 0 auto 1rem auto;
    margin-bottom: 16px;
    margin-top: -5px;
}
.form-control{
  background-color: transparent;
    border: none;
    border-bottom: 1px solid #212529;
    border-radius: 0;
    margin-bottom: 16px;
    margin-top: -5px;
    &:focus {
      color: #212529;
      outline: 0;
      box-shadow: none;
    }
    max-width: 550px;
    margin: 0 auto 1rem auto;
}

.actions{
  text-align: right;
}
.copyright{
  text-align: center;
}

.alert {
    width: fit-content;
    font-size: 16PX;
    font-weight: 700;
    padding: 0;
    margin: 0 auto 32px auto;
  }
