// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.like-btn{
  color: #e54747;
}

.unlike-btn{
  color: red;
}
@media only screen and (max-width: 882px){
  .category-posts {
    white-space: nowrap;
  }
}
@media only screen and (max-width: 515px){
  .category-post {
    font-size: 14px;
  }
  .category-posts {
    font-size: 14px;
  }
  .home-header{
    max-height: 440px;
  }
  .sample1 img{
    max-height: 250px;
  }
  .top-contents{
    font-size: 1.5rem;
  }
}
.post-user {
  float: left;
img{
  border-radius: 50px;
  margin-top: 20px;
}
}
.post-footer-names{
  margin-top: 28px;
  margin-left: 60px;
}
.post-time{
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.4);
}
.testtt{
    margin: 0 -5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;
}
.testt{      padding: 0 10px;
      margin-bottom: 20px;
    }
    .post-cardss-img{
      position: relative;

    }
      .post-cardss-img img{
     border-radius: 4px;
     max-width: 100%;
     height: auto;
     margin-bottom: -16px;
      }

  .home-header {
    background: url('../images/S__61.jpg');
    background-size: cover;
    background-position: top center;
    height: 500px;
    max-width: 960px;
    margin: -48px 8px 16px 8px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    }

  .home-header p{
    position: absolute;
    color: white;
    font-size: 1.6em;
    font-family :Quicksand, sans-serif;
    top: 38%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    white-space: nowrap;
    line-height: 54px;
    font-family: monospace;
    text-shadow: 1.5px 3px 4.5px #808080;
  }
  .sample1{
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    border-radius: 10px;
  }
  .sample1 p{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    font-family :Quicksand, sans-serif;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
  }

   .sample1 img{
    height: 270px;
    max-width: 100%;
    object-fit: cover;
  }
   .sample1 img:hover{
    transform: scale(1.1, 1.1);
    transition-duration: 0.5s;
  }

   .sample2{
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: top center;
  }

   .sample2 img{
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: top center;
    height: 500px;
    max-width: 960px;
    margin: -48px 8px 16px 8px;
    border-radius: 4px;
  }
   .sample2 img:hover{
    transform: scale(1.1, 1.1);
    transition-duration: 0.5s;
  }


@mixin sm { @media (min-width: 575px) { @content; } }
@mixin md { @media (min-width: 768px) { @content; } }
@mixin lg { @media (min-width: 960px) { @content; } }



@media screen and (max-width: 480px){
  .loggo{
    color: black;
  }
}

.lates-post{
 margin-top: 16px;
}
.img-view{
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-right: 3%;
}



.loggo {
  width: 124px;
  margin-top: 20px;
  color: white;
  font-size: 30px;
}

.head-left {
  float: left;
}

.head-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}


.head-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.head-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}
