// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";



  .sample1{
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    border-radius: 10px;
  }
  .sample1 p{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    font-family :Quicksand, sans-serif;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
  }

   .sample1 img{
    height: 300px;
    max-width: 100%;
    object-fit: cover;
  }
   .sample1 img:hover{
    transform: scale(1.1, 1.1);
    transition-duration: 0.5s;
  }

   .sample2{
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    border-radius: 10px;
  }
  .sample2 p{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    font-family :Quicksand, sans-serif;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
  }

   .sample2 img{
    height: 300px;
    max-width: 100%;
    object-position: 0 100;
  }
   .sample2 img:hover{
    transform: scale(1.1, 1.1);
    transition-duration: 0.5s;
  }






@media screen and (max-width: 480px){
  .loggo{
    color: black;
  }
}

.home-header {
    background: url('../images/top_image 3.jpeg');
    background-size: cover;
    background-position: top center;
    height: 400px;
    margin: -40px 8px 10px 8px;
    position: relative;
    border-radius: 5px;
}

.img-view{
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-right: 3%;
}



.loggo {
  width: 124px;
  margin-top: 20px;
  color: white;
  font-size: 30px;
}

.head-left {
  float: left;
}

.head-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.head-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.head-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}
