// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cp_ipselect {
  overflow: hidden;
  width: 90%;
  margin: 2em auto;
  text-align: center;
}
.cp_ipselect select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}
.cp_ipselect select::-ms-expand {
  display: none;
}
.cp_ipselect.cp_sl06 {
  position: relative;
  border-radius: 2px;
  border: 2px solid black;
  border-radius: 50px;
  background: #ffffff;
}
.cp_ipselect.cp_sl06::before {
  position: absolute;
  top: 0.8em;
  right: 0.8em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid black;
  pointer-events: none;
}
.cp_ipselect.cp_sl06 select {
  padding: 8px 38px 8px 8px;
  color: black;
}

.post-form {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 auto 1rem auto;
  padding: 25px;
  border-radius: 1rem;
  max-width: 550px;

  display: grid;
  grid-template-columns: 1fr;
}

  .preview-wrap {
    z-index: 1;
    cursor: pointer;
    position: relative;
    display: block;
    height: 0;
    width: 100%;
    padding-bottom: 100%;

    margin-bottom: 25px;
  }

    .preview {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;


    &::after {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      display: block;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 1rem;
    }}

    .fa-camera {
      z-index: 10;
      font-size: 2.5rem;
      color: rgba(255, 255, 255, 0.74);
      position: absolute;
      top       : 50%;
      left      : 50%;
      transform : translate(-50%, -50%);
    }
