// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin sm { @media (min-width: 576px) { @content; } }
@mixin md { @media (min-width: 768px) { @content; } }
@mixin lg { @media (min-width: 960px) { @content; } }
/* post new */
.cp_ipselect {
  overflow: hidden;
  width: 90%;
  margin: 2em auto;
  text-align: center;
}
.cp_ipselect select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}
.cp_ipselect select::-ms-expand {
  display: none;
}
.cp_ipselect.cp_sl06 {
  position: relative;
  border-radius: 2px;
  border: 1px solid black;
  border-radius: 50px;
  background: #ffffff;
}
.cp_ipselect.cp_sl06::before {
  position: absolute;
  top: 0.8em;
  right: 0.8em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid black;
  pointer-events: none;
}
.cp_ipselect.cp_sl06 select {
  padding: 8px 38px 8px 8px;
  color: black;
}

.post-form {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 auto 1rem auto;
  padding: 25px;
  border-radius: 1rem;
  max-width: 550px;

  display: grid;
  grid-template-columns: 1fr;
}

  .preview-wrap {
    z-index: 1;
    cursor: pointer;
    position: relative;
    display: block;
    height: 0;
    width: 100%;
    padding-bottom: 100%;

    margin-bottom: 25px;
  }

    .preview {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;


    &::after {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      display: block;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 1rem;
    }}

    .fa-camera {
      z-index: 10;
      font-size: 2.5rem;
      color: rgba(255, 255, 255, 0.74);
      position: absolute;
      top       : 50%;
      left      : 50%;
      transform : translate(-50%, -50%);
    }
.post-form-btns {
  max-width: 550px;
  margin: 0 auto;
}


  .btn {
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid black;
  }


/* post index */
.post-cardsss{
  margin-top: 5px;
  border-top: 1px solid black;
  background-color: cornflowerblue;
}
.post-cardss-img{
  margin-top: 10px;

}
.post-title{
  margin-top: 15px;
}
.post-cardss-img img{
  width: 300px;
  height: 260px;
}


.p-saunaItem {
    position: relative;
    border-bottom: 1px solid #eee;
    background: #fff;
    z-index: 1;
    font-weight: 700;
}

.p-saunaItem_image img{
  width: 300px;
  height: 260px;
  margin: 0 0 8px 32px;
}

.post-username{
  position: relative;
}

.p-saunaItemSpec_headline img{
  border-radius: 40px;
  margin-left: 24px;
}

@media only screen and (max-width: 799px){
.p-saunaItem_header {
    left: 0;
    width: 100%;
}}
.p-saunaItem_header {
    position: relative;
    left: 32px;
}

@media only screen and (max-width: 799px){
.p-saunaItemName {
    /* display: block; */
    /*font-size: 18px; */
    line-height: 1.4;
    white-space: normal;
    text-overflow: inherit;
    width: 100%;
    margin-bottom: 5px;
}}
.p-saunaItemName {
    display: block;
    display: flex;
    font-size: 20px;
    line-height: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 640px;
    margin-bottom: 10px;
    font-weight: 700;
}
.post-cardsx{
  max-width: 100%;
    height: auto;
}
.post-footer-namess{
  margin-top: 2px;
}
.p-saunaItem_content {
    display: flex;
    width: auto;
}
.p-saunaItem_meta{
  margin:12px 0 0 28px;
}
.comments-count{
  margin-left: 26px;
}

.post-image{
  text-align: center;
}
.post-header{
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
}

.post-userr {
  margin-top: -10px;
  margin-bottom: 10px;
  img{
  border-radius: 50px;
}}
.like-btn{
  .btn{
  border: 2px solid #f90e43;
  color: #f90e43;
  width: 100px;
  height: 40px;
  border-radius: 100px;
  font-size: 0.8rem;
  font-weight: 700;
}}


.unlike-btn {
.btn{
  border: 2px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
  width: 100px;
  height: 40px;
  border-radius: 100px;
  font-size: 0.8rem;
  font-weight: 700;
}}

.post-infoo{
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}
@media only screen and (max-width: 799px){
.post-sentece{
  padding: 0 30px;
}
}
.post-titlee{
  font-size: 34px;
}


.post-footer{
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}
.comment-avatar {
  margin: 5px;
  padding-top: 4px;
img{
  border-radius: 100px;
}
}


.comment-body{
  margin: 6px 3px;
}
.time-ago{
  position: relative;
}
.time-agoo{
  margin-top: 8px;
  font-size: small;
}
.comment-btn {
  text-align: right;
.btn{
  margin-right: 10px;
}}
.comment-boxx{
  margin-top: 20px;
}
.time-ago{
.btn{
color: rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  margin-top: -6px;
}}

.time-ago{
.btn{
color: rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  margin-top: -7px;
}}
.time-agooo{
.btn{
color: rgba(0, 0, 0, 0.4);
  font-size: 0.8rem;
}}

.form-group{
  max-width: 500px;
  margin: 0 auto 1rem auto;
}
