// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*user-index */

.all-user{
  font-weight: 700;
  font-size: 2rem;
  border-bottom: 1px solid black;
  width: fit-content;
  margin: auto;
  margin-bottom: 2rem;
}
.user-cards{
  background-color: #DDDDDD;
  width: auto;
  height: 240px;
  border: 10px solid white;
  border-radius: 32px;
}
.user-item img{
  border-radius: 100px;
  margin: auto;
  position: absolute;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    font-family :Quicksand, sans-serif;
    top: 36%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}
.user-name{
margin-top: 70px;
text-align: center;
font-weight: 700;
font-size: 1.1rem;
}
@media only screen and (max-width: 840px){
.user-name {
    font-size: 0.9rem;
}}

/*user-show */
.post-cardssss{
  position: relative;
}
.post-cardssss img{
  margin: 0 5px 5px 5px;
  max-width: 100%;
  height: auto;
}
.posts-photo img{
  height: 172px;
  width: 240px;
}

.nav-tabs{
  margin-top: 4px;
}
.posts-indexx{
  overflow: hidden;
}
.username-showw{
  margin-top: 5px;
  font-size: 1.8rem;
}
.follow-form {
  width: fit-content;

  .btnn {
    font-size: 0.8rem;
    font-weight: 700;
    min-width: 100px;
    height: 32px;
    border-radius: 100px;
    margin-left: 4px;

  }
  .follow .btnn{
      background-color: #f90e43;
      color: #fff;
      border: red;

    }
    .unfollow .btnn {
      background-color: rgba(0, 0, 0, 0.1);
      color: #f90e43;
    }
}
.profile-showw{
  margin: 5px 0;
}
.user-photoo img{
  border-radius: 120px;
  margin: 8px;
}
.user-photoo{
  float: left;
}
.user-infomationn{
  overflow: hidden;
}
.btnn{
  cursor: pointer;
}

.post-formm{
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  max-width: 150px;
  height: 150px;
  display: grid;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 16px;
}


/* てスト */

.user-status-cell {
  margin: 0.9rem -15px 0 -15px;
  .nav {
    width: 100%;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      display: block;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      z-index: 1
    }
  }

  .nav-item {
    margin: 0;
    z-index: 2;
  }
  @media only screen and (min-width: 768px){
    .nav-item {
      margin: 0 4rem 0 0;
      &:last-child {
        margin: 0;
      }
    }
  }


  .nav-pills .nav-link {
    color: rgba(0, 0, 0, 0.4);
    min-width: 50px;
    height: 67px;
    border-radius: 0;
  }

  .nav-pills .nav-link.active {
    position: relative;
    color: black;
    background-color: transparent;

    &::after {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      display: block;
      border-top: 1px solid black;
    }
  }

  .user-status {
    text-align: center;
    line-height: 18px;
    white-space: nowrap;
    margin-right: auto;
    margin-left: auto;

    .status-name {
      white-space: nowrap;
      font-size: 0.7rem;
      font-weight: 400;
      display: block;
      @media only screen and (min-width: 768px){
        display: inline;
        font-size: 0.95rem
      }
    }

    .status-value {
      display: inline;
      font-weight: 700;
      font-size: 0.95rem;
    }

    .status-unit {
      font-size: 0.95rem;
      font-weight: 400;
    }
  }
@media only screen and (min-width: 768px){
    .user-status {
      margin: 0;
    }
  }

@media only screen and (min-width: 768px){
  .user-status-cell {
    margin: 0.8rem 5px 0 5px;
  }
}}
