// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-cards{
  background-color: #DDDDDD;
  width: auto;
  height: 290px;
  border: 10px solid white;
  border-radius: 32px;
}
.user-item img{
  border-radius: 100px;
  margin: auto;
  position: absolute;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    font-family :Quicksand, sans-serif;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}
.user-name{
position: absolute;
top: 72%;
left: 40%;
}
.follow-btn{
  position: absolute;
top: 82%;
left: 26%;
}

.nav-links{
  border: 1px solid black;
  margin-top: 20px;
}

.nav-cards{

}
@media screen and (min-width:769px){
  .nav-links{
    margin: 0 80px 0 80px;
  }
}
.tab-content{
  border: 1px solid black;
}
